		<hr>
		<footer>
			<p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> 2012</p>
		</footer>
	</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>