<form method="post" action="/post" class="well form-inline" style="text-align:
center;">
<div class="col-sm-10">
<input type="text" class="form-control" style="width:100%;" name="post"></div>
<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
</i> 发言</button>
</form>